<!doctype html>
<html ng-app='colourApp'>
    <head>
        <title>Colours :: saltire sable</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='style.css'>
        <script src='https://code.angularjs.org/1.3.10/angular.min.js'></script>
        <script src='colours.js'></script>
        <script src='main.js'></script>
    </head>
    <body ng-controller='colourCtrl'>
        <header>
            <div></div>
            <div class='colour'></div>
            <div class='name'>Name</div>
            <div class='hex'>Hex</div>
            <div class='numbers'>RGB</div>
            <div class='numbers'>HSV</div>
            <div class='colour'></div>
            <div></div>
            <div></div>
        </header>
        <ul>
            <li ng-repeat='colour in colours' colour-row>
                <a class='handle' title='Move up/down'>░</a>
                <div class='colour' style='background-color: rgb({{ colour.red }}, {{ colour.green }}, {{ colour.blue }});'></div>
                <input class='name' type='text' maxlength='50' ng-model='colour.name'></div>
                <input class='hex' type='text' maxlength='7' ng-model='hex' colour-value colour-hex></div>
                <div class='numbers'>
                    <input type='text' name='r{{ $index }}' maxlength='3' ng-model='red' colour-value colour-rgb max='255'>
                    <input type='text' name='g{{ $index }}' maxlength='3' ng-model='green' colour-value colour-rgb max='255'>
                    <input type='text' name='b{{ $index }}' maxlength='3' ng-model='blue' colour-value colour-rgb max='255'>
                </div>
                <div class='numbers'>
                    <input type='text' name='h{{ $index }}' maxlength='3' ng-model='hue' colour-value colour-hsv max='255'>
                    <input type='text' name='s{{ $index }}' maxlength='3' ng-model='sat' colour-value colour-hsv max='255'>
                    <input type='text' name='v{{ $index }}' maxlength='3' ng-model='val' colour-value colour-hsv max='100'>
                </div>
                <div class='colour' style='background-color: rgb({{ colour.red }}, {{ colour.green }}, {{ colour.blue }});'></div>
                <a class='setbkgd' title='Set as background'>▣</a>
                <a class='delete' title='Remove'>✕</a>
            </li>
        </ul>
    </body>
</html>
