body { background: #f8f8f8; }

input { padding: 5px; border: 0; border-radius: 5px; background: rgba(255, 255, 255, .5);
    font-size: 16px; line-height: 24px; }

ul { list-style: none; }
ul li { line-height: 34px; }
header div,
ul li div { display: inline-block; }
ul li div input { width: 100%; box-sizing: border-box; }

ul li div.colour { width: 50px; height: 34px; }
ul li div.name { width: 300px; }
ul li div.hex { width: 200px; }
ul li div.numbers { width: 300px; }
ul li div.numbers input { width: 80px; }
